# Deny by default. This excludes VCS data, .env files, IDE metadata, artifacts,
# local binaries, caches, logs, general documentation, and top-level testdata from
# the build context. Go test files and their embedded fixtures under cmd/ remain
# available to the explicit fixture stage; the required redistribution notice is the
# sole documentation exception.
**

!go.mod
!go.sum
!THIRD_PARTY_NOTICES.md
!cmd/
!cmd/**
!internal/
!internal/**
